{% extends 'layouts/base.html.twig'%}

{% block title 'Gérer les Leçons' %}

{% block body %}

<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a href="{{ path('app_home_home') }}" class="navbar-brand">Guy Nwognag</a>
        <a href="{{ path('app_accueil_accueil') }}" class="navbar-brand">Accueil</a>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="container mt-4">
    <h1>Gérer les leçons</h1>

    {% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
    {% endfor %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Titre</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for cours in courses %}
        <tr>
            <td>{{ cours.title }}</td>
            <td>
                <a href="{{ path ('admin.cours.edit', {id: cours.id}) }}" class="btn btn-secondary">Editer</a>
                <form method="post" action="{{ path('admin.cours.delete', {id: cours.id}) }}"
                      style="display: inline-block" onsubmit="return confirm('Cette leçon est sur le point ' +
                       'd\'être supprimée')">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="token" value="{{ csrf_token('delete' ~ cours.id) }}">
                    <button class="btn btn-danger">supprimer</button>
                </form>
</td>
</tr>
{% endfor %}
</tbody>
</table>

    <div class="text-right">
        <a href="{{ path('admin.cours.new') }}" class="btn btn-primary">Créer une leçon</a>
    </div>
</div>

<div class="container">
{% for cours in courses %}
{% endfor %}
</div>

{% endblock %}