{% extends 'layouts/base.html.twig'%}

{% block title 'Gérer les Leçons' %}

{% block body %}


<div class="container mt-4 ">
    <div class="intro">
        <h1 class="my-5 py-5 text-center">GÉRER LES LEÇONS</h1>
    </div>

    {% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
    {% endfor %}
    <table class="table table-striped mt-4">
        <thead>
        <tr>
            <th>Titre</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for cours in courses %}
        <tr>
            <td>{{ cours.title }}</td>
            <td>
                <a href="{{ path ('admin.cours.edit', {id: cours.id}) }}" class="btn btn-secondary">Editer</a>
                <form method="post" action="{{ path('admin.cours.delete', {id: cours.id}) }}"
                      style="display: inline-block" onsubmit="return confirm('Cette leçon est sur le point ' +
                       'd\'être supprimée')">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="token" value="{{ csrf_token('delete' ~ cours.id) }}">
                    <button class="btn btn-danger">supprimer</button>
                </form>
</td>
</tr>
{% endfor %}
</tbody>
</table>

    <div class="text-right">
        <a href="{{ path('admin.cours.new') }}" class="btn btn-primary">Créer une leçon</a>
    </div>
</div>

<div class="container">
{% for cours in courses %}
{% endfor %}
</div>

{% endblock %}