    {% extends 'layouts/base.html.twig' %}

    {% block title 'Inscription' %}

    {% block body %}

        <div class="jumbotron-2 text-center ">
            <div class="intro">
                <h3 class="">DEVIENS MEMBRE ALORS !</h3>

            </div>
        </div>
        <h1 class=" mt-4  text-center">Créer un compte</h1>

        {% for message in app.flashes('success') %}
            <div class="flash-notice">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="flash-notice">
                {{ message }}
            </div>
        {% endfor %}


        <div class=" mt-4 container">
        {{ form_start(registrationForm) }}
        {{ form_widget(registrationForm) }}
            <button type="submit" class="btn btn-lg btn-dark mt-3">Envoyer</button>
        {{ form_end(registrationForm) }}



        </div>
    {% endblock %}