{% extends 'layouts/base.html.twig' %}

{% block title 'Contact' %}

{% block body %}

    <div class="jumbotron text-center ">
        <div class="intro">
            {#            <img id="logoJa" src="{{ asset('build/images/logoJA.393c0749.png') }}" alt="">#}
            <h1 class="">CONTACT !</h1>

        </div>
    </div>

    <div class="section-title mb-5 py-2 text-center">
        <h2>CONTACT</h2>
    </div>

    {% for message in app.flashes('success') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}

    {% if not form.vars.valid %}
        <div class="alert-danger">
            Erreur, les champs n'ont pas été correctement remplis !
        </div>

    {% endif %}

    <div id="contactForm" class="my-4">
        <div class="container">
        {{ form_start(form) }}
        <div class="row">
            <div class="col">{{ form_row(form.firstname) }}</div>
            <div class="col">{{ form_row(form.lastname) }}</div>
        </div>

        <div class="row">
            <div class="col">{{ form_row(form.email) }}</div>
        </div>
        {{ form_rest(form) }}
        <div class="form-group my-4">
            <button class="btn btn-primary">Envoyer</button>
        </div>
        {{ form_end(form) }}
        </div>
    </div>


{% endblock %}



