{% extends 'layouts/base.html.twig' %}

{% block title cours.title %}


{% block body %}


{#    {% for message in app.flashes('success') %}#}
{#    <div class="flash-notice">#}
{#        {{ message }}#}
{#    </div>#}
{#    {% endfor %}#}

{#    {% if not form.vars.valid %}#}
{#    <div class="alert-danger">#}
{#        Erreur, les champs n'ont pas été correctement remplis !#}
{#    </div>#}
{#    {% endif %}#}

    <div class="titre-show">
        <h2 class="text-center">
            {{ cours.title  | nl2br}}
        </h2>
    </div>

    <div class="container">
<div class="show-content ">
         <div class="video">
                <iframe width="660" height="415" src="https://www.youtube-nocookie.com/embed/videoseries?list=PLnG60NkuHghvEfQS0JjsiheMYvcbw_may" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="partition">
            <a href="#" target="_blank" class="btn ">Télécharger la partition</a>
        </div>
        <div class="mp3">
            <a href="#" target="_blank" class="btn mp3">Télécharger le mp3</a>
        </div>

    <div class="description-show">
        <h4 class="text-center">
            {{ cours.description  | nl2br}}
        </h4>
        <p class="pl-3 pb-3 text-muted">{{ cours.genre }} ({{ cours.niveauType }})</p>
    </div>
</div>
    </div>
    







{% endblock %}