{% extends 'layouts/base.html.twig' %}

{% block title cours.title %}


{% block body %}

            <p class="text-center">
                {{ cours.description  | nl2br}}
            </p>
    <div class="co-container">
        <div class="ro">
            <div class="co">
                <div class="feature-img">
                    <img src="{{ asset('/images/IMG_8797ok2.jpg')}} " class="" width="110%" alt="Guy">
                    <img src="{{ asset('images/play.png') }}" class="play-btn"
                         onclick="playVideo('{{ asset('images/1_bikutsiB_bpm100.mp4') }}')">
                </div>
            </div>

            <div class=" col">
                <div class="small-img-row">
                    <div class="small-img">
                        <img src="{{ asset('images/IMG_8813ok.jpg')}}" width="50%"  alt="">
                        <img src="{{ asset('images/play.png') }}" class="play-btn2" alt=""
                             onclick="playVideo('{{ asset('images/2_bikutsiB_bpm100.mp4') }}')">
                    </div>
                    <p>Lorem ipsum dolor sit ipsum dolor sit A consequatur dicta
                    </p>
                </div>
                <div class="small-img-row">
                    <div class="small-img">
                        <img src="{{ asset('images/IMG_8813ok.jpg')}}" width="50%"  alt="">
                        <img src="{{ asset('images/play.png') }}" class="play-btn2" alt=""
                             onclick="playVideo('{{ asset('images/3_bikutsiB_bpm100.mp4') }}')">
                    </div>
                    <p>Lorem ipsum dolor sit ipsum dolor sit A consequatur dicta
                    </p>
                </div>
                <div class="small-img-row">
                    <div class="small-img">
                        <img src="{{ asset('images/IMG_8813ok.jpg')}}" width="50%"  alt="">
                        <img src="{{ asset('images/play.png') }}" class="play-btn2" alt=""
                             onclick="playVideo('{{ asset('images/4_bikutsiB_bpm100.mp4') }}')">
                    </div>
                    <p>Lorem ipsum dolor sit ipsum dolor sit A consequatur dicta
                    </p>
                </div>
                <div class="small-img-row">
                    <div class="small-img">
                        <img src="{{ asset('images/IMG_8813ok.jpg')}}" width="50%"  alt="">
                        <img src="{{ asset('images/play.png') }}" class="play-btn2" alt=""
                             onclick="playVideo('{{ asset('images/5_bikutsiB_bpm100.mp4') }}')">
                    </div>
                    <p>Lorem ipsum dolor sit ipsum dolor sit A consequatur dicta
                    </p>
                </div>
            </div>
        </div>

    </div>

    <div class="video-player" id="videoPlayer">
        <video width="90%" controls autoplay id="myVideo">
               <source src="{{ asset('images/1_bikutsiB_bpm100.mp4') }}" type="video/mp4">
        </video>
        <img src="{{ asset('images/close_button.png') }}" class="close-btn"
        onclick="stopVideo()">
    </div>


    {% block javascripts %}
        <script src="{{asset('js/app.js') }}"></script>
    {% endblock %}

    <a href="{{ path('app_joue-alors') }}">Retour</a>

{% endblock %}