{% extends 'layouts/base.html.twig' %}

{% block title cours.title %}


{% block body %}
<div class="titre-show">
    <h2 class="text-center">
        {{ cours.description  | nl2br}}
    </h2>
</div>
<div class="container">

    <div class="row">
        <div class="col">
    <video
            id="my-video"
            class="video-js"
            controls
            preload="auto"
            width="845"
            height="650"
            poster="{{ asset('build/images/GN_thumbnail.ef61ec6f.jpg') }}"
            data-setup="{}"
    >
        <source src="{{ asset('build/images/1_bikutsiB_bpm100.be32ed6d.mp4') }}" type="video/mp4" />
{#        <source src="MY_VIDEO.webm" type="video/webm" />#}
        <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a
            web browser that
            <a href="https://videojs.com/html5-video-support/" target="_blank"
            >supports HTML5 video</a
            >
        </p>
    </video>
        </div>

    <div class="col">

        <ul>
            <li>Introduction 1</li>
            <li>Video 1</li>
            <li>Video 1</li>
            <li>Video 1</li>
            <li>Video 1</li>
        </ul>
    </div>

    </div>

    </div>


</div>
{#            <p class="text-center">#}
{#                {{ cours.description  | nl2br}}#}
{#            </p>#}
{#    <div class="co-container">#}
{#        <div class="ro">#}
{#            <div class="co">#}
{#                <div class="feature-img">#}
{#                    <img src="{{ asset('build/images/GN_thumbnail.ef61ec6f.jpg')}} " class="" width="110%" alt="Guy">#}
{#                    <img src="{{ asset('build/images/play.png') }}" class="play-btn"#}
{#                         onclick="playVideo('{{ asset('images/1_bikutsiB_bpm100.mp4') }}')">#}
{#                </div>#}

{#                    <small>#}
{#                        Cours posté le#}
{#                <time class="pl-3 pb-3 text-muted">{{ cours.createdAt | date('Y-m-d') }}</time>#}
{#                    </small>#}

{#            </div>#}

{#            <div class=" col">#}
{#                <div class="small-img-row">#}
{#                    <div class="small-img">#}
{#                        <img src="{{ asset('IMG_8813ok.jpg')}}" width="50%"  alt="">#}
{#                        <img src="{{ asset('images/play.png') }}" class="play-btn2" alt=""#}
{#                             onclick="playVideo('{{ asset('images/2_bikutsiB_bpm100.mp4') }}')">#}
{#                    </div>#}
{#                    <p>Lorem ipsum dolor sit ipsum dolor sit A consequatur dicta#}
{#                    </p>#}
{#                </div>#}
{#                <div class="small-img-row">#}
{#                    <div class="small-img">#}
{#                        <img src="{{ asset('images/IMG_8813ok.jpg')}}" width="50%"  alt="">#}
{#                        <img src="{{ asset('images/play.png') }}" class="play-btn2" alt=""#}
{#                             onclick="playVideo('{{ asset('images/3_bikutsiB_bpm100.mp4') }}')">#}
{#                    </div>#}
{#                    <p>Lorem ipsum dolor sit ipsum dolor sit A consequatur dicta#}
{#                    </p>#}
{#                </div>#}
{#                <div class="small-img-row">#}
{#                    <div class="small-img">#}
{#                        <img src="{{ asset('images/IMG_8813ok.jpg')}}" width="50%"  alt="">#}
{#                        <img src="{{ asset('images/play.png') }}" class="play-btn2" alt=""#}
{#                             onclick="playVideo('{{ asset('images/4_bikutsiB_bpm100.mp4') }}')">#}
{#                    </div>#}
{#                    <p>Lorem ipsum dolor sit ipsum dolor sit A consequatur dicta#}
{#                    </p>#}
{#                </div>#}
{#                <div class="small-img-row">#}
{#                    <div class="small-img">#}
{#                        <img src="{{ asset('images/IMG_8813ok.jpg')}}" width="50%"  alt="">#}
{#                        <img src="{{ asset('images/play.png') }}" class="play-btn2" alt=""#}
{#                             onclick="playVideo('{{ asset('images/5_bikutsiB_bpm100.mp4') }}')">#}
{#                    </div>#}
{#                    <p>Lorem ipsum dolor sit ipsum dolor sit A consequatur dicta#}
{#                    </p>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}

{#    </div>#}

{#    <div class="video-player" id="videoPlayer">#}
{#        <video width="90%" controls autoplay id="myVideo">#}
{#               <source src="{{ asset('images/1_bikutsiB_bpm100.mp4') }}" type="video/mp4">#}
{#        </video>#}
{#        <img src="{{ asset('images/close_button.png') }}" class="close-btn"#}
{#        onclick="stopVideo()">#}
{#    </div>#}


    {% block javascripts %}
        <script src="{{asset('js/app.js') }}"></script>
        <script src="https://vjs.zencdn.net/7.11.4/video.min.js"></script>
    {% endblock %}


{% endblock %}