


<section id="header">
        <nav class="navbar navbar-expand-lg fixed-top">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav mx-auto justify-content-around">

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_home') }}">HOME</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">ABOUT</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_joue-alors') }}">JOUE ALORS</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }}">CONNEXION</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">DECONNEXION</a>
                </li>


{#                <li class="nav-item">#}
{#                    <a class="nav-link" href="{{ path('app_login') }}"><i class="far fa-user bg-white"></i></a>#}
{#                </li>#}
            </ul>

        </div>

</nav>

</section>

