
<nav>
<div id="change" class="menu-wrap">
    <input type="checkbox" class="toggler">
    <div class="hamburger"><div></div></div>
    <div class="menu">
        <div>
            <div>
                <ul>
                    <li><a href="{{ path('app_about') }}">Guy Nwogang</a></li>
                    <li><a href="{{ path('app_joue-alors') }}">Joue Alors !</a></li>
                    <li><a href="{{ path('app_login') }}">Connexion</a></li>
                    <li><a href="{{ path('app_contact')}}">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


    {% if app.user %}
        <h5 id="welcome" class="nav-item  h5  text-muted">
            Bonjour {{ app.user.username }}
        </h5>
    {% endif %}
    <div id="socials" class="nav-socials">

            <ul class="socials ">


                <li class="nav-item ">
                    <a class="" href="{{ path('app_contact') }}"><i class="far fa-envelope"></i></a>
                </li>

                {% if app.user %}
                <li class="nav-item">
                    <a class="" href="{{ path('app_logout') }}"><i class="fas fa-user-slash"></i></a>
                    {% else %}
                    <a class="" href="{{ path('app_login') }}"><i class="far fa-user-circle"></i></a>
                </li>
                {% endif %}

                <li>
                    <a href="https://fr-fr.facebook.com/nwogang"><i class="fab fa-facebook"></i></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/Nwogang/"><i class="fab fa-instagram"></i></a>
                </li>

                <li>
                    <a href="https://www.youtube.com/channel/UCcHQ9niF-7qKGO3tl1Y0ioA"><i class="fab fa-youtube"></i></a>
                </li>

                <li>
                <a href="https://twitter.com/Nwogang1"><i class="fab fa-twitter"></i></a>
                </li>


            </ul>


    </div>
</nav>
<script> </script>