





    <div class="">
        <article class=" ">
            <div class="overflow-hidden">
                <a href="{{ path('cours.show', {slug: cours.slug, id: cours.id}) }}">
                    <img src="{{ (cours.imageName ? vich_uploader_asset(cours) :
                    asset('build/images/GN_thumbnail.ef61ec6f.jpg')) |
                    imagine_filter('squared_thumbnail_medium')}}" alt="{{ cours.title }}"
                         class="w-100 rounded-top"/>
                </a>
            </div>
            <h3 class="pl-3 pt-3"><a href="{{ path('cours.show', {id: cours.id, slug: cours.slug}) }}"
                                     class="text-muted text-decoration-none">{{ cours.title }}
                </a></h3>
            <p class="pl-3 pb-3 text-muted">{{ cours.genre }} ({{ cours.niveauType }})</p>

        </article>
    </div>





