{% extends 'layouts/base.html.twig'%}

{% block title 'Joue Alors' %}

{% block body %}

    <div class="jumbotron">

        <div class="intro">
            <h1 class="">LES COURS !</h1>

        </div>

        <!-- Seection Recherche -->

{#        <div class="container  mt-5 mr-5">#}
{#            {{ form_start(form) }}#}
{#            <div class="form-row">#}
{#                <div class="col">#}
{#                    {{ form_row(form.genre) }}#}
{#                </div>#}
{#                <div class="col">#}
{#                    {{ form_row(form.niveau) }}#}
{#                </div>#}
{#                <div class="col">#}
{#                    <button class="btn btn-primary">Recherche</button>#}
{#                </div>#}
{#            </div>#}
{#            {{ form_end(form) }}#}
{#        </div>#}
    </div>

    <div class="accueil px-5">
    <div class="box4 px-5">
        <div class="nav-ac" >
            <a href="{{ path('app_cours') }}" class="btn btn-lg btn" id="tsCours">Tous les Cours</a>
            <br>
            <br>
{#            <h5 class="border-bottom">Par style</h5>#}
{#            <ul class="">#}
{#                <li><a href="#">Bikutsi</a></li>#}
{#                <li><a href="#">Bensikin</a></li>#}
{#                <li><a href="#">Rock-Bikutsi</a></li>#}
{#                <li><a href="#">Le coin des Mbindis</a></li>#}
{#            </ul>#}
            <h5 class="border-bottom">Par niveau</h5>
            <ul class="">
                <li><a href="#">Kop - Débutants</a></li>
                <li><a href="#">KopSs - Amateurs</a></li>
                <li><a href="#">KopSs - Intermédiaires</a></li>
                <li><a href="#">KopSss - Confirmés</a></li>
            </ul>
            <h5 class="border-bottom">Nos Playlist</h5>
            <ul class="">
                <li><a href="#">Bikutsi</a></li>
                <li><a href="#">Pop</a></li>
                <li><a href="#">Rock-Bikutsi</a></li>
                <li><a href="#">Bensikin</a></li>
            </ul>

        </div>
    </div>
<div class="box5">
    <div class="text-accueil ">
        <h2 class="text-center my-4"> TOUS LES COURS</h2>
        <p class="text-center">Trouvez le cours qui vous convient.</p>
    </div>
</div>

    <div class="box6 ">

        <div class="row ml-5 d-flex justify-content-center ">
            {% for cours in courses %}
           <div class="col-xs-3 col-sm-3">
               <article class="cours bg-white rounded shadow ">
                   <div class=" overflow-hidden">
                        {% include 'cours/_cours.html.twig' %}
                   </div>
               </article>
           </div>
            {% endfor %}
       </div>

        <br>

   </div>
    <br>
    <div class="pagination d-flex justify-content-center mt-5">
        {{ knp_pagination_render(courses) }}
    </div>

    <br>

    <div class="text-center mb-5">
        <h5 class="btn btn-light"><a href="{{ path('app_joue-alors') }}" class=" text-muted text-decoration-none ">Les nouveautés</a></h5>
    </div>

    </div>

{% endblock %}